quality list of diamonds

In [1]:
cut = ['Ideal', 'Premium', 'Premium', 'Premium', 'Premium', 'Very Good',
       'Premium', 'Premium', 'Ideal', 'Premium', 'Good', 'Good', 'Premium', 
       'Very Good', 'Very Good', 'Good', 'Good','Very Good', 'Good', 'Good', 
       'Premium', 'Premium', 'Good', 'Good']

convert it into pandas data series

In [2]:
import pandas as pd
cut_series = pd.Series(cut)
cut_series

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5036\3337579576.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

0         Ideal
1       Premium
2       Premium
3       Premium
4       Premium
5     Very Good
6       Premium
7       Premium
8         Ideal
9       Premium
10         Good
11         Good
12      Premium
13    Very Good
14    Very Good
15         Good
16         Good
17    Very Good
18         Good
19         Good
20      Premium
21      Premium
22         Good
23         Good
dtype: object

count each quality and group it ascending

In [3]:
cut_sorted = cut_series.value_counts(ascending=True)
cut_sorted

Ideal         2
Very Good     4
Good          8
Premium      10
Name: count, dtype: int64

carat list of each diamond

In [4]:
carat = [1.07, 1.19, 1.19, 1.2, 1.2, 1.25, 1.2, 1.2, 1.2,
         1.14, 1.01, 1.01, 1.01, 1.02, 1.01, 1.01, 1.01, 
         1.01, 1.01, 1.01, 1.01, 1.01, 1.0, 1.0]

convert the carat list into pandas data series

In [5]:
carat_series = pd.Series(carat)
carat_series

0     1.07
1     1.19
2     1.19
3     1.20
4     1.20
5     1.25
6     1.20
7     1.20
8     1.20
9     1.14
10    1.01
11    1.01
12    1.01
13    1.02
14    1.01
15    1.01
16    1.01
17    1.01
18    1.01
19    1.01
20    1.01
21    1.01
22    1.00
23    1.00
dtype: float64

75th percentile of carat

In [6]:
import numpy as np
carat_75 = np.percentile(carat_series, 75, axis=0)
carat_75

1.1925

loading the size of carats

In [7]:
import numpy as np

sizes = np.load('sizes.npz', allow_pickle=True)
sizes_array = sizes['sizes']
sizes_array

array([[6.46, 6.42, 4.09],
       [6.87, 6.84, 4.17],
       [6.73, 6.66, 4.2],
       [6.77, 6.72, 4.22],
       [6.77, 6.72, 4.22],
       [6.86, 6.9, 4.27],
       [6.93, 6.8, 4.24],
       [6.86, 6.74, 4.21],
       [6.73, 6.68, 4.24],
       [6.76, 6.72, 4.13],
       [6.19, 6.23, 4.05],
       [6.48, 6.5, 3.79],
       [6.46, 6.41, 3.94],
       [6.34, 6.41, 4.06],
       [6.35, 6.3, 4.0],
       [6.35, 6.3, 4.02],
       [6.37, 6.31, 4.05],
       [6.39, 6.34, 4.02],
       [6.4, 6.32, 4.05],
       [6.58, 6.53, 3.77],
       [6.46, 6.37, 3.92],
       [6.44, 6.38, 3.95],
       [6.33, 6.38, 4.01],
       [6.27, 6.31, 3.99]], dtype=object)

create pandas data frame of carats' sizes

In [8]:
sizes_df = pd.DataFrame(sizes_array)
sizes_df.columns = ['x', 'y', 'z']
sizes_df

       x     y     z
0   6.46  6.42  4.09
1   6.87  6.84  4.17
2   6.73  6.66   4.2
3   6.77  6.72  4.22
4   6.77  6.72  4.22
5   6.86   6.9  4.27
6   6.93   6.8  4.24
7   6.86  6.74  4.21
8   6.73  6.68  4.24
9   6.76  6.72  4.13
10  6.19  6.23  4.05
11  6.48   6.5  3.79
12  6.46  6.41  3.94
13  6.34  6.41  4.06
14  6.35   6.3   4.0
15  6.35   6.3  4.02
16  6.37  6.31  4.05
17  6.39  6.34  4.02
18   6.4  6.32  4.05
19  6.58  6.53  3.77
20  6.46  6.37  3.92
21  6.44  6.38  3.95
22  6.33  6.38  4.01
23  6.27  6.31  3.99

change the initial index number from 0 to 1

In [9]:
sizes_new_index = sizes_df.copy()
sizes_new_index = sizes_new_index.reset_index()
sizes_new_index['index'] += 1
sizes_new_index = sizes_new_index.set_index('index')
sizes_new_index.index.name = None
sizes_new_index

       x     y     z
1   6.46  6.42  4.09
2   6.87  6.84  4.17
3   6.73  6.66   4.2
4   6.77  6.72  4.22
5   6.77  6.72  4.22
6   6.86   6.9  4.27
7   6.93   6.8  4.24
8   6.86  6.74  4.21
9   6.73  6.68  4.24
10  6.76  6.72  4.13
11  6.19  6.23  4.05
12  6.48   6.5  3.79
13  6.46  6.41  3.94
14  6.34  6.41  4.06
15  6.35   6.3   4.0
16  6.35   6.3  4.02
17  6.37  6.31  4.05
18  6.39  6.34  4.02
19   6.4  6.32  4.05
20  6.58  6.53  3.77
21  6.46  6.37  3.92
22  6.44  6.38  3.95
23  6.33  6.38  4.01
24  6.27  6.31  3.99

create result

In [10]:
import zipfile
import joblib

carat_series.to_csv("carat_series.csv")
cut_sorted.to_csv("cut_sorted.csv")
cut_series.to_csv("cut_series.csv")
joblib.dump(carat_75,"carat_75")
sizes_df.to_csv("sizes_df.csv",index = True)
sizes_df.to_csv("sizes_new_index.csv",index = True)
                
def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ["cut_series.csv", "cut_sorted.csv", "carat_series.csv",
              "carat_75", "sizes_df.csv", "sizes_new_index.csv", "diamond.ipynb"]
compress(file_names)

File Paths:
['cut_series.csv', 'cut_sorted.csv', 'carat_series.csv', 'carat_75', 'sizes_df.csv', 'sizes_new_index.csv', 'diamond.ipynb']